<!DOCTYPE html>
<html>
  <head>
    <title>SolidDemo</title>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
     
  </head>

  <body>
    <%= yield %>
  </body>
</html>
